*{
    font-family: Calibri, Arial, Helvetica, sans-serif;
}
body{

    background-image: url("../pic/bg.png");

    /*background-image: url("../pic/bg4.jpg");

     */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    color: white;
}
nav li{
    font-weight: bold;
    padding-right: 15px;
    font-size: 17px;
}
.dropdownbtn{
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size:17px;
    padding: 8px;
}
.dropdownbtn:hover{
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size:17px;
    padding: 8px;
}
.navbox{
    -webkit-box-shadow: 0 5px 10px 1px black;
    -moz-box-shadow: 0 5px 10px 1px black;
    box-shadow: 0 5px 10px 1px black;
}
.contbox{
    color: white;
    margin-top: 80px;
    -webkit-box-shadow: 0 2px 5px 1px black;
    -moz-box-shadow: 0 2px 5px 1px black;
    box-shadow: 0 2px 5px 1px black;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 150px;
}
.footer {
    /*position: absolute;
    position: sticky;
    position: -webkit-sticky;*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 5px 10px 1px black;
    margin-top: 30px;
}
.menuactive{
    text-decoration: underline;
}

table th{
    color: rgba(255,255,255,0.8);
    font-size: 20px;
}
table tr{
    color: rgba(255,255,255,0.5);
}
table{
    margin-bottom: 30px;
    margin-right: 15px;
    float: left;
    font-size: 18px;
    margin-left: 15px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
}
a{
    color: red;
    /*color: #bd2130;*/
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: orangered;
    font-weight: bold;
}
h2.right{
    padding-left: 15px;
}
/*img.hok{
    max-height: 250px;
    max-width: 250px;
}*/
div.tagok {
    text-align: justify;
    text-justify: inter-word;
    border-radius: 20%;
    max-width: 200px;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float:left;
    margin-right: 15px;
}
div.tagok img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
}
div.alairas {
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
    padding: 5px 0;
}
div.alairas h3{
    color:black;
}