.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}
body.loggedin {
    background-color: #f3f4f7;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}
.content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}
.content > p table td, .content > div table td {
    padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}
.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}
input[type=text]{
    transition: width 0.4s ease-in-out;
    width: 25%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
input[type=text]:focus{
    width: 50%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
    background-color: lightgray;
}

input[type=email]{
    transition: width 0.4s ease-in-out;
    width: 25%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
input[type=email]:focus{
    width: 50%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
    background-color: lightgray;
}
input[type=tel]{
    transition: width 0.4s ease-in-out;
    width: 25%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
input[type=tel]:focus{
    width: 50%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
    background-color: lightgray;
}
input[type=password]{
    transition: width 0.4s ease-in-out;
    width: 25%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
input[type=password]:focus{
    width: 50%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
    background-color: lightgray;
}

textarea{
    transition: width 0.4s ease-in-out;

    width: 25%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
textarea:focus{
    width: 50%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 7px 5px;
}
label{
    margin: 15px auto;
    padding: 7px 5px;
}
img.profimg{
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    float: right;
}
table.news{
    width: 100%;
    font-family: Calibri, sans-serif;
}
table.news th{
    width:60px;
    border: 1px solid black;
}
table.news td{
    text-align: center;
    margin: 10px;
}
table.news a{
    font-weight: bold;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: black;
    margin-top: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
}
table.news a:hover{
    font-weight: bold;
    color: #2f3947;
}

.dropdownbtn{
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size:17px;
    padding: 8px;
}
.dropdownbtn:hover{
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size:17px;
    padding: 8px;
}